<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familia</title>
    <h1>Mi Familia</h1>
</head>
<body>
    <nav>
        <a href="../index.html">Quien soy</a>
        <a href="hobbies.html">Que me gusta hacer</a>
        <a href="familia.html">Mi familia </a>
        </nav>
    <h2> mi papa </h2>
    <p> mi papa es </p>
    <img src="/assets/imagenes/papa.jpg"/>
    <li>samurai muy talentoso</li> 
    <li>sabe cocinar </li>
    <li>sabe conducir</li>
    <h3>mi mama </h3>
    <p>mi mama es </p>
    <img src="/assets/imagenes/images.jpg"/>
    <li>sabe cocinar</li>
    <li>sabe trabajar de todo </li>
    <li>mi mama me mima</li>
</body>
</html>