<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbies</title>
    <link rel="stylesheet" href="../style.css">
    
</head>
<body>
    <header>
        <h1>Lo que me gusta hacer</h1>
        <img src="/assets/imagenes/yo.jpg" alt="Logo de Carlos" class="logo"> <!-- Imagen redonda -->
    </header>

    <nav>
        <a href="../index.html">Quien soy</a>
        <a href="hobbies.html">Que me gusta hacer</a>
        <a href="../templates/familia.html">Mi familia</a>
    </nav>

    <main>
        <h2>Mis deportes favoritos</h2>
        <ul>
            <li>Fútbol</li>
            <li>Voleibol</li>
            <li>Basketball</li>
            <li>Micro</li>
            <li>PVP con osos</li>
        </ul>
    </main>

    <footer>
        <p>pagina realizada por Carlos A.E Bohorquez &copy;todos los derechos reservados en 2024</p>
    </footer>
</body>
</html>
