/* Aplicamos un reseteo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('/assets/imagenes/fondo2.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    padding: 20px;
    text-align: center;
}

header {
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    color: #333;
}

.logo {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Hace la imagen redonda */
    border: 3px solid #333; /* Borde alrededor de la imagen */
    margin: 20px auto;
}

nav {
    margin: 20px 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semi-transparente */
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

section p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    margin-bottom: 20px;
}

ul li {
    font-size: 1.1em;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro para el pie de página */
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}
